.env
.env.*
!.env.example

storage/app/firebase
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

vendor
node_modules

.git
.gitignore
.gitattributes
.editorconfig

tests
.phpunit.result.cache
phpunit.xml

.DS_Store
README.md
